:root {
  --maxWidth: 1900px;
  --colorNav: #2e388e;
  --colorNavHover: #4655d4;

  --colorBtn: #2e388e;
  --colorBtn2: #27aae1;
  --colorBtnHover: #4655d4;
  --colorBtn2Hover: white;

  --colorH: #2e388e;
  --colorSection: radial-gradient(
    75.68% 118.55% at 26.95% 62.25%,
    #ffffff 0%,
    #e6e9ff 100%
  );
  --colorText: #000000;
  --colorFooterText: #777777;
  --colorContact: radial-gradient(
    294.63% 298.17% at 96.13% 282.37%,
    #00053d 0%,
    #2e368f 100%
  );
  --fsNav: 16px;
  --fs: 15px;
  --fsAbout: 15px;
  --padding: 6vw;
  --fsH1: 36px;
  --fsH2: 32px;
  --fsH3: 21px;
  --fsH3Name: 21px;
  --fsServicesNum: 21px;
  --lhH3: 28px;
  --lhFs: 26px;
  --lhH1: 46px;
  --mbH: 40px;
  --bigSc: 1500px;
  --imgSize: 325px;
  --fsBtn: 15px;
}

@media screen and (max-width: 600px) {
  :root {
    --mbH: 30px;
    --fsH3: 14px;
    --fsH3Name: 21px;
    --fsH2: 21px;
    --lhH1: 28px;
    --fsH1: 24px;
    --fsServicesNum: 12px;
    --lhH3: 20px;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --mbH: 30px;
    --fsH3: 24px;
    --fsH3Name: 24px;
    --fsH2: 48px;
    --lhH1: 70px;
    --fsNav: 20px;
    --fsH1: 56px;
    --fsServicesNum: 12px;
    --lhH3: 45px;
    --mbH: 100px;
    --fsServicesNum: 28px;
    --fsAbout: 20px;
    --imgSize: 425px;
    --padding: 5vw;
    --fsBtn: 18px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.overflow-hidden {
  overflow-y: hidden;
}
