.buttoninsidespinner {
  position: relative;
  border: 1px solid #000000;
  height: 35px;
  width: 195.84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

@media screen and (max-width:600px) {
  .buttoninsidespinner {
   width: 100%;
  }
  
}

.buttoninsidespinner::after {
  content: "";
  border: 4px solid #0000005a;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
