.section {
  width: 100%;
  position: relative;
  z-index: 0;
  display: none;
  background-color: #fafafa;
}

@media screen and (max-width: 650px) {
  .section {
    display: block;
  }
}

.vh100 {
  height: 100vh;
}

.mobileMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e9ff;
  height: calc(100dvh - 71px);
  width: 100%;
}

.navContainer {
  height: 60%;
  width: 100;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: #2e388e;
}

.footerContainer {
  height: 40%;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.footerContainer p {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.footerItemContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerItemContainer a {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #2e388e;
  text-decoration: underline;
}

.logoContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logoContainer img {
  width: 110px;
  height: auto;
}

.container {
  padding: 10px var(--padding);
  margin-inline: auto;
  max-width: 1900px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.itemContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.li {
  color: var(--colorNav);
  font-size: var(--fsNav);
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.button {
  background: var(--colorBtn);
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
}

.buttonA {
  padding: 8px 10px;
}

.hambiOpen {
  cursor: pointer;
}

.hambiPhotoContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STICKY LOGIC*/

.fixed {
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 111111111;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.paddingFix {
  padding: 15px var(--padding) 15px var(--padding) !important;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
