.section {
  width: 100%;
  position: relative;
  z-index: 0;
  display: none;
  background-color: #fafafa;
}

@media screen and (max-width: 600px) {
  .section {
    display: block;
  }
}

.vh100 {
  height: 100vh;
}

.mobileMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E6E9FF;
  height: calc(100dvh - 71px);
  width: 100%;
}

.navContainer {
  height: 60%;
  width: 100;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: #2E388E;

  
}

.footerContainer {
  height: 40%;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.footerContainer p {
 
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.footerItemContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerItemContainer a {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #2E388E;
  text-decoration: underline;
}

.logoContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;;
}


.logoContainer img {
  width: 110px;
  height: 30px;
}

.container {
  padding: 20px var(--padding);
  margin-inline: auto;
  max-width: 1900px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.itemContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.li {
  color: var(--colorNav);
  font-size: var(--fsNav);
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.button {
  padding: 8px 10px;
  background: var(--colorBtn);
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
}

.hambiOpen {
  cursor: pointer;
}

.hambiPhotoContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hambiCloseBg {
}
