.section {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 650px) {
  .section {
    display: none;
  }
}

.container {
  padding: 30px var(--padding) 0vw var(--padding);
  margin-inline: auto;
  max-width: 1900px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.row img {
  width: 182px;
  height: auto;
}

.itemContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.itemContainer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.li {
  color: var(--colorNav);
  font-size: var(--fsNav);
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.li:hover {
  color: var(--colorNavHover);
}

.button {
  padding: 10px 30px 10px 30px;
  background: var(--colorBtn);
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: var(--fsBtn);
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: var(--colorBtnHover);
}

/* STICKY LOGIC*/

.fixed {
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 111111111;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
  animation: slide-in-top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.paddingFix {
  padding: 15px var(--padding) 15px var(--padding) !important;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
